.job-box {
  background-color: #272727;
  color: #ffffff;
  margin: 12px;
  padding: 12px;
}
.company-logo-title-rating-container {
  display: flex;
}

.location-employmentType-package-container {
  display: flex;
  justify-content: space-between;
}
