.jobs-bg-container {
  background-color: #000000;
  min-height: 100vh;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.left-side-Menu {
  padding: 12px;
  width: 320px;
  border: 1px solid yellowgreen;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 1px solid red;
}

.right-side-jobs-search-container {
  width: 100%;
}
