.job-item-details-bg-container {
  background-color: black;
  background-size: cover;
  min-height: 100vh;
  color: #ffffff;
}

.link {
  border: 1px solid salmon;
  padding-bottom: 10px;
}
.external-link {
  font-size: 20px;
  margin-top: 20px;
  height: 40px;
  margin-left: 12px;
  border: 1px solid seagreen;
}
